.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker-popper {
  margin-top: 42px;
}
.react-datepicker__triangle {
  display: none;
}

/* DatePicker Calendar Styles */
.react-datepicker {
  font-family: "Roboto", sans-serif;
  border-radius: 8px;
  border: 1px solid #9e77d2;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.react-datepicker__current-month {
  text-align: left;
  margin-left: 15px !important;
  margin-top: 5px !important;
}
.react-datepicker__day-name {
  color: white;
}

.react-datepicker__header {
  background-color: #673ab7;
  color: white;
  border-bottom: none;
}

.react-datepicker__current-month {
  font-weight: bold;
  color: white;
}

.react-datepicker__navigation {
  top: 8px;
}

.react-datepicker__navigation--previous {
  right: 35px;
  left: auto;
}

.react-datepicker__navigation--next {
  right: 5px;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #673ab7 !important;
  color: white !important;
  border-radius: 4px;
}

.react-datepicker__day:hover {
  background-color: rgba(103, 58, 183, 0.2);
}

.react-datepicker__year-dropdown,
.react-datepicker__month-dropdown {
  background-color: white;
  border: 1px solid #9e77d2;
  border-radius: 6px;
}

.react-datepicker__year-option:hover,
.react-datepicker__month-option:hover {
  background-color: #f3e5f5;
}
.react-datepicker__view-calendar-icon input {
  padding: 6px 10px 5px 8px;
}
.react-datepicker__close-icon {
  right: 28px;
}
