@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
html,
body {
  font-family: "Poppins", sans-serif;
}

.Toastify__close-button {
  display: none !important;
}

.Toastify__toast {
  justify-content: center !important;
}

.print-only {
  display: none;
}

@media print {
  .print-only {
    display: block;
  }
}
